<section class='session-box'>
  <form id="register-form" action='/users/register' method='post'>
    <input type="text" name="user[name]" placeholder="name"><br>
    <br>
    <input type="text" name="user[email]" placeholder="email"><br>
    <br>
    <input type="text" name="user[password]" placeholder="password"><br>
    <br>    
    <input type="submit" value="Submit">    
  </form>
</section>  