header {
  margin-top: 1%;
  text-align: center;
}
nav {
  text-align: center;
}
.container,
.show-shirt,
.shirt-designer {
  margin: 20px auto;
  width: 600px;
  padding: 0px 20px 20px 20px;
  /*border: 1px dotted black;*/
}

.session-box {
  margin-top: 2%;
  text-align: center;
}

.shirt-shower {
  position: relative;
  border: 1px dotted plum;
  float: left;
  width: 33%;
}

.shirt-shower-single,
.confirm-purchase-container {
  text-align: center;
  border: 1px dotted plum;
}

.shirt-content {
  position: absolute;
  bottom: 55%;
  left: 40%;
  font-size: .75em;
  color: tomato;
}

.shirt-content-single {
  position: absolute;
  bottom: 55%;
  left: 49%;
  font-size: .75em;
  color: tomato;
}

.shirt-image {
  width: 100px;
  height: 100px;
}

.shirt-image-single {
  width: 200px;
  height: 200px;
}

.shirt-designer {
  text-align: center;
}

#nice-hr {
  clear: both;
}

.popup {
  display: none;
}

#close {
  position: absolute;
}
