    <div class='shirt-designer'>
      
      <img src="/media/shirt.png"><br><br>
      <p class="shirt-content"></p>
      <form action="/shirts" method="post">
        <input type="text" name="content" placeholder="shirt slogan">
        <br> <br>
        <button>Submit Design</button>
      </form>  
    </div>